@(list: Map[String, Any])

<div class="list-group">
    <div href="#" class="list-group-item list-group-item-info">
    </div>
    @for(post <- list("data").asInstanceOf[Seq[(PostEntity, String, Int)]]) {
        <div href="#" class="list-group-item">
            <div class="row">
                <div class="col-sm-12">
                    <p>

                        <span class="label label-primary">@post._2</span>
                    </p>
                    <p>
                        <a href="javascript:">
                        @(post._1.title.length < 80 match {
                            case true => post._1.title
                            case false => post._1.title.substring(0, 80) + "..."
                        })
                        </a>
                    </p>

                    <div>
                        <p>
                        @(post._1.excerpt.length < 256 match {
                            case _ => post._1.excerpt
                            //case false => post.excerpt.substring(0, 256) + "..."
                        })
                        </p>
                        <p>
                            <b><span
                            class="pull-right label label-info"
                            style="background-color : #31708f !important ; color : #d9edf7">@@Tom
                            </span>
                            </b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }

        <div class="list-group-item-text">

        @_layout.pagination(
            list("page").asInstanceOf[Int],
            list("count").asInstanceOf[Int],
            list("prev").asInstanceOf[Int],
            list("next").asInstanceOf[Int],
            list("last").asInstanceOf[Int],
            list("pagination").asInstanceOf[Range]
        )

</div>
</div>