@(list: Map[String, Any])

<div class="list-group">
    <div href="#" class="list-group-item list-group-item-info">
    </div>
    @for(item <- list("data").asInstanceOf[Seq[(PostEntity, TopicEntity)]]) {
        <div href="#" class="list-group-item">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <a href="/topic/@item._2.id"  class="btn btn-sm btn-info">
                            @item._2.name
                        </a>
                        <a href="/topic/@item._2.id"  class="btn btn-sm btn-info">
                        @@Tom
                        </a>
                    </p>
                    <h3>
                        <a href="javascript:">
                        @(item._1.title.length < 80 match {
                            case true => item._1.title
                            case false => item._1.title.substring(0, 80) + "..."
                        })
                        </a>
                    </h3>

                    <div>
                        <p>
                        @(item._1.excerpt.length < 256 match {
                            case _ => item._1.excerpt
                            //case false => post.excerpt.substring(0, 256) + "..."
                        })
                        </p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="list-group-item-text">
    @if(list("pagination").asInstanceOf[Range].size > 0) {
        @_layout.pagination(
            list("page").asInstanceOf[Int],
            list("count").asInstanceOf[Int],
            list("prev").asInstanceOf[Int],
            list("next").asInstanceOf[Int],
            list("last").asInstanceOf[Int],
            list("pagination").asInstanceOf[Range]
        )
    }

</div>
</div>