@(data: Map[String, Any])

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">@data("name").asInstanceOf[String]</li>
</ol>

<div class="list-group">

    <div href="#" class="list-group-item list-group-item-info">
    @data("name").asInstanceOf[String]
    </div>

    @for(post <- data("data").asInstanceOf[Seq[PostEntity]]) {
        <div href="#" class="list-group-item">
            <h3 class="text-left">
                <a href="/post/@post.id">@post.title</a>
            </h3>
            <div>@post.excerpt</div>
        </div>
    }


    <div class="list-group-item-text">

        @if(data("pagination").asInstanceOf[Range].size > 0) {
            @_layout.pagination(
                data("page").asInstanceOf[Int],
                data("count").asInstanceOf[Int],
                data("prev").asInstanceOf[Int],
                data("next").asInstanceOf[Int],
                data("last").asInstanceOf[Int],
                data("pagination").asInstanceOf[Range]
            )
        }

    </div>

</div>
