@(data: Map[String, Any])

<div class="list-group">
    <div class="list-group-item list-group-item-success">
        评论
    </div>
    @for(comment <- data("data").asInstanceOf[Seq[CommentEntity]]) {
        <div class="list-group-item">
            <div style="padding : 0 ; padding-left : 5 px ;">
                <p align="left">
                    <a class="pull-left" style="margin : 10 px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50">
                            <clipPath id="clipCircle">
                                <circle r="25" cx="25" cy="25"/>
                            </clipPath>
                            <image xlink:href="@routes.Assets.versioned("assets/bootstrap/img/avatar.png")" width="50" height="50"
                            clip-path="url(#clipCircle)"/>
                        </svg>
                    </a></p>
                <div>
                    @comment.htmlBody
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    }

    <div class="list-group-item-text">
    @if(data("pagination").asInstanceOf[Range].size > 0) {
        @_layout.pagination(
            data("page").asInstanceOf[Int],
            data("count").asInstanceOf[Int],
            data("prev").asInstanceOf[Int],
            data("next").asInstanceOf[Int],
            data("last").asInstanceOf[Int],
            data("pagination").asInstanceOf[Range]
        )
    }

    </div>
</div>
