@(data: Map[String, Any]))

<div class="list-group">
    <div class="list-group-item list-group-item-success">
        评论
    </div>
    <div class="list-group-item">
        <div style="padding:0;padding-left:5px;">
            <p align="left">
                <a class="pull-left" style="margin:10px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50">
                        <clipPath id="clipCircle">
                            <circle r="25" cx="25" cy="25"/>
                        </clipPath>
                        <image xlink:href="@routes.Assets.versioned("assets/bootstrap/img/avatar.png")" width="50" height="50"
                        clip-path="url(#clipCircle)"/>
                    </svg>
                </a></p>
            <div>《《论语》自战国前期成书问世以后，因秦始皇的“焚书
                坑儒”政策，几乎惨遭灭顶之灾。到汉初，朝廷明令“大收篇籍，广开献书之路”，有些冒着生命危险收藏下书籍的人，纷纷向朝廷“献书”，到汉初，朝廷明令“大收篇籍，广开献书之路”，有些冒着生命危险收藏下书籍的人，纷纷向朝廷“献书”，到汉初，朝廷明令“大收篇籍，广开献书之路”，有些冒着生命危险收藏下书籍的人，纷纷向朝廷“献书”，
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="list-group-item">
        <div style="padding:0;padding-left:5px;">
            <p align="left">
                <a class="pull-left" style="margin:10px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50">
                        <clipPath id="clipCircle">
                            <circle r="25" cx="25" cy="25"/>
                        </clipPath>
                        <image xlink:href="@routes.Assets.versioned("assets/bootstrap/img/avatar.png")" width="50" height="50"
                        clip-path="url(#clipCircle)"/>
                    </svg>
                </a></p>
            <div>《《论语》自战国前期成书问世以后，因秦始皇的“焚书
                坑儒”政策，几乎惨遭灭顶之灾。到汉初，朝廷明令“大收篇籍，广开献书之路”，有些冒着生命危险收藏下书籍的人，纷纷向朝廷“献书”，到汉初，朝廷明令“大收篇籍，广开献书之路”，有些冒着生命危险收藏下书籍的人，纷纷向朝廷“献书”，到汉初，朝廷明令“大收篇籍，广开献书之路”，有些冒着生命危险收藏下书籍的人，纷纷向朝廷“献书”，
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
