@(list: Seq[PostEntity])


<div class="list-group">
    <div href="#" class="list-group-item list-group-item-info">
        Programming
    </div>
    <div href="#" class="list-group-item">
        <h3>
            <a>Functional programming</a>
        </h3>

        <div>
            Functional programming has its roots in lambda calculus, a formal system developed in the 1930s
            to investigate computability, the Entscheidungsproblem, function definition, function
            application, and recursion. Many functional programming languages can be viewed as elaborations
            on the lambda calculus. Another well-known declarative programming paradigm, logic programming,
            is based on relations.
        </div>
    </div>
    <div href="#" class="list-group-item">
        <h3>论语 - 来自维基百科</h3>

        <div>
            《《论语》自战国前期成书问世以后，因秦始皇的“焚书
            坑儒”政策，几乎惨遭灭顶之灾。到汉初，朝廷明令“大收篇籍，广开献书之路”，有些冒着生命危险收藏下书籍的人，纷纷向朝廷“献书”，因口口相传再手抄笔
            录辗转反复，字句往往有所差异。鲁人口头传授的《鲁论》20篇；齐人口头传授的《齐论》22篇，比《鲁论》多了“问王”、“知道”两篇；
        </div>
    </div>
    <div href="#" class="list-group-item list-group-item-info">
        <div>
            <small>更多</small>
        </div>
    </div>
</div>
<div class="list-group">
    <div href="#" class="list-group-item list-group-item-info">
        Programming
    </div>
    <div href="#" class="list-group-item">
        <h3>
            <a>Functional programming</a>
        </h3>

        <div>
            Functional programming has its roots in lambda calculus, a formal system developed in the 1930s
            to investigate computability, the Entscheidungsproblem, function definition, function
            application, and recursion. Many functional programming languages can be viewed as elaborations
            on the lambda calculus. Another well-known declarative programming paradigm, logic programming,
            is based on relations.
        </div>
    </div>
    <div href="#" class="list-group-item">
        <h3>论语 - 来自维基百科</h3>

        <div>
            《《论语》自战国前期成书问世以后，因秦始皇的“焚书
            坑儒”政策，几乎惨遭灭顶之灾。到汉初，朝廷明令“大收篇籍，广开献书之路”，有些冒着生命危险收藏下书籍的人，纷纷向朝廷“献书”，因口口相传再手抄笔
            录辗转反复，字句往往有所差异。鲁人口头传授的《鲁论》20篇；齐人口头传授的《齐论》22篇，比《鲁论》多了“问王”、“知道”两篇；
        </div>
    </div>
</div>